{% extends 'base.html.twig' %}

{% block title %}
Bienvenue sur le meilleur réseau d'appartements
{% endblock %}


{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur tomBnb !</h1>
        <p class="lead">Nous mettons en relations les voyageurs et les propriétaire qui veulent profiter d'opportunités
            et gagner de l'argent en proposant leur bien à la location !</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2>Nos appartements stars</h2>
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>49 euros / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                        style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi,
                            necessitatibus ullam maiores in voluptas sequi fugiat consectetur eos optio. Fugiat ad fugit
                            hic, voluptatum quo consectetur. Quo quasi accusantium, voluptatibus delectus eius enim,
                            culpa eveniet illo deserunt magnam neque tempora dicta asperiores officiis id adipisci
                            maxime quos consequuntur. Aut.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>49 euros / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                        style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi,
                            necessitatibus ullam maiores in voluptas sequi fugiat consectetur eos optio. Fugiat ad fugit
                            hic, voluptatum quo consectetur. Quo quasi accusantium, voluptatibus delectus eius enim,
                            culpa eveniet illo deserunt magnam neque tempora dicta asperiores officiis id adipisci
                            maxime quos consequuntur. Aut.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>49 euros / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                        style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi,
                            necessitatibus ullam maiores in voluptas sequi fugiat consectetur eos optio. Fugiat ad fugit
                            hic, voluptatum quo consectetur. Quo quasi accusantium, voluptatibus delectus eius enim,
                            culpa eveniet illo deserunt magnam neque tempora dicta asperiores officiis id adipisci
                            maxime quos consequuntur. Aut.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>49 euros / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                        style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi,
                            necessitatibus ullam maiores in voluptas sequi fugiat consectetur eos optio. Fugiat ad fugit
                            hic, voluptatum quo consectetur. Quo quasi accusantium, voluptatibus delectus eius enim,
                            culpa eveniet illo deserunt magnam neque tempora dicta asperiores officiis id adipisci
                            maxime quos consequuntur. Aut.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>49 euros / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                        style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf !
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum excepturi,
                            necessitatibus ullam maiores in voluptas sequi fugiat consectetur eos optio. Fugiat ad fugit
                            hic, voluptatum quo consectetur. Quo quasi accusantium, voluptatibus delectus eius enim,
                            culpa eveniet illo deserunt magnam neque tempora dicta asperiores officiis id adipisci
                            maxime quos consequuntur. Aut.</p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h2>Nos propriétaires stars</h2>

    <div class="row mt-5 mb-5 ">
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Thomas chatenet</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsa voluptate corrupti quam
                            est perferendis inventore necessitatibus praesentium provident ipsum.</p>
                        <a href="#" class="btn btn-success">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Thomas chatenet</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ipsa voluptate corrupti quam
                            est perferendis inventore necessitatibus praesentium provident ipsum.</p>
                        <a href="#" class="btn btn-success">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}